
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  html {
    scroll-behavior: smooth;

  }

.body {
     
  font-family: 'Arial', sans-serif;
  background: url(../images/backgrnd.jpg) no-repeat center center/cover;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  max-height: 1020vh;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    background: url(../images/backgrnd.jpg) no-repeat center center/cover;    
    
  }
}



/* Style for the navigation bar */
.navbar-brand span {
  color: orange;
  font-weight: bold;
}
.navbar-brand {
  font-size: 3rem;
  font-weight: 800;
  color: blue;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.navbar-brand:hover {
  color: orange;
  transform: scale(1.1);
}
.nav-item a {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
  border-bottom: 4px solid transparent;
}

.nav-item a:hover,
.nav-item a.active { 
  color: blueviolet;
  border-bottom: 4px solid blueviolet;
  transform: scale(1.1);

}
.navbar-toggler{
     border:none;
     font-size:1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
     box-shadow:none;
     outline:none;
}

/*styling button*/

.login-button {
  background-color: blue;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition:0.3s background-color;
}


.login-button:hover,
.login-button.active {
  background-color: blueviolet;
  color: white;
}


.navbar-toggler {
     border: none;
     font-size: 1rem;
}

.navbar-toggler:focus, .btn-close:focus {
     box-shadow: none;
     outline: none;
}
 

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-toggler :hover, .btn-close :hover {
  box-shadow: 0 0 5px blueviolet;
  outline: none;
}


.navbar {
  border-radius: 12px;
  margin: 10px;

}


/* Style for the main content */
.hero-section {
  background-color: none;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-heading {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;  
}
.main-heading span {
  font-size: 3rem;
  font-weight: 400;
  color: orange;
  margin-bottom: 20px;  

}
.main-heading:hover {
  color: orange;
  transition: 0.3s ease-in-out;

}

.hero-section p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
}


 /*  services content */

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 2.3rem;
  margin-top: 4.1rem;
  align-items: center;
  background: transparent;
}
.service-heading {
  font-size: 2.7rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.service-heading span {
  color: orange;
}
.service-heading:hover {
  color: orange;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
.row {
  background:#000;
  border-radius: 27px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px blueviolet;
  padding: 20px;
  transition: all 0.5s ease;
  
}
.row img {
  width: auto;
  height: auto;
  border-radius: 27px;
  margin-bottom: 1.4rem;
  align-content:center ;
}

.row:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 15px red;
}
.row h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
/* Style for the contact section */
.contact-section{
  background: transparent;
  padding: 20px;  
  position: relative;
  
}
.contact-heading {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.contact-heading span {
  font-weight: 400;
  color: orange;
}
.contact-heading:hover {
  transform: translateY(-10px);
  color: orange;
  transition: 0.3s ease-in-out;
}
.price-row {
  width: 50%;
  max-width: 1100px;
  margin:  auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}
.price-col {
  background: #000;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px blueviolet;
  padding: 10% 15%;
  transition: all 0.5s ease;
  text-align: center;
}
.price-col:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px red;
}
.price-col h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-button {
  background-color: #198754; /* Bootstrap green */
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition:0.3s background-color;
}
.contact-button:hover,
.contact-button.active {
  background-color: blueviolet;
  color: white;
}
/*styling gallery*/
.gallery-heading {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.gallery-heading span {
  font-size: 3rem;
  font-weight: 400;
  color: orange;
  margin-bottom: 20px;  
}
.gallery-heading:hover {
  color: orange;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.gallery-subtitle {
  color: white;
  margin: 2rem 0 1rem;
  text-align: center;
  font-size: 1.5rem;
}


.card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: #000;
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.5);
  transition: 0.4s ease;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: 0.5s ease;
}


.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 25px blueviolet;
}

.card:hover img {
  transform: scale(1.1);
  filter: brightness(0.7);
}


.card::after {
  content: "View";
  position: absolute;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease;
}

.card:hover::after {
  opacity: 1;
}

/*styling registration form*/
.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.register-form {

  position: relative;
  width: 400px;
  min-width: 200px;
  height: auto;
  background: #000;
  border-radius: 20px;
  text-align: center;
}
.register-form .field {
  border: 1px solid transparent;
  box-shadow: 0 0 10px blueviolet;
  padding: 20px;
  border-radius: 20px;
}
.register-form .field legend {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
  .register-form :hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px red;
    transition: all 0.5s ease;
  }

  /* Style for the footer */
.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding:40px 0;
  background: transparent;
  text-align: center;
}
.social {
  padding-bottom: 20px 0;
  color: white;

}


.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0 8px;
  border-radius: 50%;
  background: #1a1a1a;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.social a:hover {
  background: blueviolet;
  color: black;
  transform: scale(1.1);
}

.footer p {
  font-size: 14px;
  opacity: 0.7;
}
/* Style for the feedback form */

.feedback-form {
  position: relative;
  width: 400px;
  min-width: 200px;
  height: auto;
  background: blueviolet;
  border-radius: 20px;
  text-align: center;
}
.feedback-form:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px red;
  transition: all 0.5s ease;
}

.feedbackheading {
  font-size: 3rem;
  font-weight: 600;
  color: orange;
}
.feedbackheading:hover {
  color: blueviolet;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}